/* You can add global styles to this file, and also import other style files */
html,
body,
body > * { /* the app-root */
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
  color: rgb(255, 240, 220);
}
